{
  "presets": [
      [
          "@babel/preset-env",
          {
          "modules": "auto",
          "targets": {
              "browsers": ["defaults"]
          }
          }
      ],
      "@babel/preset-flow"
  ],
  "plugins": 
  [
  "@babel/plugin-proposal-class-properties",
  "@babel/transform-runtime",
  "add-module-exports",
  "babel-plugin-dynamic-import-node"
  ]
}